<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.openlay.opennotes</key>
		<string>OpenNotes 2026</string>
        <key>org.openlay.opennotes.notewidget</key>
		<string>OpenNotes Note Widget 2026</string>
        <key>org.openlay.opennotes.share</key>
		<string>OpenNotes Share 2026</string>
	</dict>
</dict>
</plist>